@charset "utf-8";
/* CSS Document */

#bigmap {
	background-image:url('/images/bigmaptwo.png');
	height:550px;
	width:350px;
	margin-top:0px;
	position: absolute;
	left:60px;
	top: 30px;	
	
	}


#westAnnapolisMap	{
	position:absolute;
	font-size:12px;
	left:200px;
	top:120px;
	width:120px;
	font-family: Arial, Helvetica, sans-serif;
	background-color: #FFEEB6;
	visibility: hidden;	
	
}


#west50Map	{
	position:absolute;
	font-size:12px;
	left:70px;
	top:30px;
	width:120px;
	font-family: Arial, Helvetica, sans-serif;
	background-color: #FFEEB6;
	visibility: hidden;	
	
}
#east50Map	{
	position:absolute;
	font-size:12px;
	left:185px;
	top:22px;
	width:120px;
	font-family: Arial, Helvetica, sans-serif;
	background-color: #FFEEB6;
	visibility: hidden;
	
}

#greenburyPointMap	{
	position:absolute;
	font-size:12px;
	left:205px;
	top:280px;
	width:120px;
	font-family: Arial, Helvetica, sans-serif;
	background-color: #FFEEB6;
	visibility: hidden;	
	
}
#baltAndAnnapTrailMap	{
	position:absolute;
	font-size:12px;
	left:200px;
	top:220px;
	width:120px;
	font-family: Arial, Helvetica, sans-serif;
	background-color: #FFEEB6;
	visibility: hidden;
	
}

#greenPedalsShop	{
	position:absolute;
	font-size:12px;
	left:180px;
	top:145px;
	width:180px;
	font-family: Arial, Helvetica, sans-serif;
	background-color: #FFEEB6;
	visibility: hidden; 
	
}










#eastport {
	position:absolute;
	background-color: #FEFDE9;
	height: 15px;
	width:75px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	left:60px;
	top:520px;
	text-align:center;
	border-left: 1px solid #1644BE;
	border-right: 1px solid #1644BE;
	border-bottom: 1px solid #1644BE;
	border-top: 1px solid #1644BE;
	-webkit-border-top-right-radius: 10px;
	-moz-border-radius-topright: 10px;
	border-top-right-radius: 10px;
	-webkit-border-top-left-radius: 10px;
	-moz-border-radius-topleft: 10px;
	border-top-left-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-radius-bottomleft: 10px;
	border-bottom-left-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
	-moz-border-radius-bottomright: 10px;
	border-bottom-right-radius: 10px;
	padding-top: 2px;
	padding-right: 1px;
	padding-bottom: 1px;
	padding-left: 1px;
	clear: both;
			
	
	
	}


#usnavalacademy {
	position:absolute;
	background-color: #FEFDE9;
	height: 15px;
	width: 100px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	left: 280px;
	top:425px;
	text-align:center;
	border-left: 1px solid #1644BE;
	border-right: 1px solid #1644BE;
	border-bottom: 1px solid #1644BE;
	border-top: 1px solid #1644BE;
	-webkit-border-top-right-radius: 10px;
	-moz-border-radius-topright: 10px;
	border-top-right-radius: 10px;
	-webkit-border-top-left-radius: 10px;
	-moz-border-radius-topleft: 10px;
	border-top-left-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-radius-bottomleft: 10px;
	border-bottom-left-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
	-moz-border-radius-bottomright: 10px;
	border-bottom-right-radius: 10px;
	padding-top: 2px;
	padding-right: 1px;
	padding-bottom: 1px;
	padding-left: 1px;
	clear: both;
	float: left;		
	}



#historicdowntown {
	position:absolute;
	background-color: #FEFDE9;
	height: 15px;
	width: 100px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	text-align:center;
	border-left: 1px solid #1644BE;
	border-right: 1px solid #1644BE;
	border-bottom: 1px solid #1644BE;
	border-top: 1px solid #1644BE;
	-webkit-border-top-right-radius: 10px;
	-moz-border-radius-topright: 10px;
	border-top-right-radius: 10px;
	-webkit-border-top-left-radius: 10px;
	-moz-border-radius-topleft: 10px;
	border-top-left-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-radius-bottomleft: 10px;
	border-bottom-left-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
	-moz-border-radius-bottomright: 10px;
	border-bottom-right-radius: 10px;
	padding-top: 2px;
	padding-right: 1px;
	padding-bottom: 1px;
	padding-left: 1px;
	clear: both;
	float: left;
	left: 145px;
	top: 480px;
	
	}



#navyStadium {
	position:absolute;
	background-color: #FEFDE9;
	height: 15px;
	width: 100px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	left: 75px;
	top:200px;
	text-align:center;
	border-left: 1px solid #1644BE;
	border-right: 1px solid #1644BE;
	border-bottom: 1px solid #1644BE;
	border-top: 1px solid #1644BE;
	-webkit-border-top-right-radius: 10px;
	-moz-border-radius-topright: 10px;
	border-top-right-radius: 10px;
	-webkit-border-top-left-radius: 10px;
	-moz-border-radius-topleft: 10px;
	border-top-left-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-radius-bottomleft: 10px;
	border-bottom-left-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
	-moz-border-radius-bottomright: 10px;
	border-bottom-right-radius: 10px;
	padding-top: 2px;
	padding-right: 1px;
	padding-bottom: 1px;
	padding-left: 1px;
	clear: both;
	float: left;		
}

#stjohnscollege {
	position:absolute;
	background-color: #FEFDE9;
	height: 15px;
	width: 100px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	left: 160px;
	top:350px;
	text-align:center;
	border-left: 1px solid #1644BE;
	border-right: 1px solid #1644BE;
	border-bottom: 1px solid #1644BE;
	border-top: 1px solid #1644BE;
	-webkit-border-top-right-radius: 10px;
	-moz-border-radius-topright: 10px;
	border-top-right-radius: 10px;
	-webkit-border-top-left-radius: 10px;
	-moz-border-radius-topleft: 10px;
	border-top-left-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-radius-bottomleft: 10px;
	border-bottom-left-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
	-moz-border-radius-bottomright: 10px;
	border-bottom-right-radius: 10px;
	padding-top: 2px;
	padding-right: 1px;
	padding-bottom: 1px;
	padding-left: 1px;
	clear: both;
	float: left;	
	}


#marylandStateHouse {
	position:absolute;
	background-color: #FEFDE9;
	height: 25px;
	width: 100px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	text-align:center;
	border-left: 1px solid #1644BE;
	border-right: 1px solid #1644BE;
	border-bottom: 1px solid #1644BE;
	border-top: 1px solid #1644BE;
	-webkit-border-top-right-radius: 10px;
	-moz-border-radius-topright: 10px;
	border-top-right-radius: 10px;
	-webkit-border-top-left-radius: 10px;
	-moz-border-radius-topleft: 10px;
	border-top-left-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-radius-bottomleft: 10px;
	border-bottom-left-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
	-moz-border-radius-bottomright: 10px;
	border-bottom-right-radius: 10px;
	padding-top: 2px;
	padding-right: 1px;
	padding-bottom: 1px;
	padding-left: 1px;
	clear: both;
	float: left;
	left: 115px;
	top: 400px;
	
	}


#navybridge {
	position:absolute;
	background-color: #FEFDE9;
	height: 15px;
	width: 70px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	top:260px;
	left:310px;
	text-align:center;
	border-left: 1px solid #1644BE;
	border-right: 1px solid #1644BE;
	border-bottom: 1px solid #1644BE;
	border-top: 1px solid #1644BE;
	-webkit-border-top-right-radius: 10px;
	-moz-border-radius-topright: 10px;
	border-top-right-radius: 10px;
	-webkit-border-top-left-radius: 10px;
	-moz-border-radius-topleft: 10px;
	border-top-left-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-radius-bottomleft: 10px;
	border-bottom-left-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
	-moz-border-radius-bottomright: 10px;
	border-bottom-right-radius: 10px;
	padding-top: 2px;
	padding-right: 1px;
	padding-bottom: 1px;
	padding-left: 1px;
	clear: both;
	float: left;	
	
	}



#westannapolis {
	position:absolute;
	background-color: #FEFDE9;
	height: 15px;
	width: 90px;
	top: 135px;
	left:260px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	text-align:center;
	border-left: 1px solid #1644BE;
	border-right: 1px solid #1644BE;
	border-bottom: 1px solid #1644BE;
	border-top: 1px solid #1644BE;
	-webkit-border-top-right-radius: 10px;
	-moz-border-radius-topright: 10px;
	border-top-right-radius: 10px;
	-webkit-border-top-left-radius: 10px;
	-moz-border-radius-topleft: 10px;
	border-top-left-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-radius-bottomleft: 10px;
	border-bottom-left-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
	-moz-border-radius-bottomright: 10px;
	border-bottom-right-radius: 10px;
	padding-top: 2px;
	padding-right: 1px;
	padding-bottom: 1px;
	padding-left: 1px;
	clear: both;
	float: left;
	
	}
	
	
	
	

	
	#east50 {
	position:Absolute;
	background-color: #FEFDE9;
	height: 30px;
	width: 125px;
	top: 40px;
	left:160px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	margin-left:150px;
	left:60px;
	bottom:85px;
	text-align:center;
	border-left: 1px solid #1644BE;
	border-right: 1px solid #1644BE;
	border-bottom: 1px solid #1644BE;
	border-top: 1px solid #1644BE;
	-webkit-border-top-right-radius: 12px;
	-moz-border-radius-topright: 12px;
	border-top-right-radius: 12px;
	-webkit-border-top-left-radius: 12px;
	-moz-border-radius-topleft: 12px;
	border-top-left-radius: 12px;
	-webkit-border-bottom-left-radius: 12px;
	-moz-border-radius-bottomleft: 12px;
	border-bottom-left-radius: 12px;
	-webkit-border-bottom-right-radius: 12px;
	-moz-border-radius-bottomright: 12px;
	border-bottom-right-radius: 12px;
	padding-top: 5px;
	padding-right: 1px;
	padding-bottom: 1px;
	padding-left: 1px;
	clear: both;
	float: left;
}
	
#west50 {
	position:absolute;
	background-color: #FEFDE9;
	height: 30px;
	width: 125px;
	top: 35px;
	left: 60px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	margin-top:20px;
	margin-left:2px;
	text-align:center;
	border-left: 1px solid #1644BE;
	border-right: 1px solid #1644BE;
	border-bottom: 1px solid #1644BE;
	border-top: 1px solid #1644BE;
	-webkit-border-top-right-radius: 12px;
	-moz-border-radius-topright: 12px;
	border-top-right-radius: 12px;
	-webkit-border-top-left-radius: 12px;
	-moz-border-radius-topleft: 12px;
	border-top-left-radius: 12px;
	-webkit-border-bottom-left-radius: 12px;
	-moz-border-radius-bottomleft: 12px;
	border-bottom-left-radius: 12px;
	-webkit-border-bottom-right-radius: 12px;
	-moz-border-radius-bottomright: 12px;
	border-bottom-right-radius: 12px;
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 1px;
	padding-left: 5px;
	clear: both;
	float: left;	
	}	
	

	#batrail {
	position:absolute;
	background-color: #FEFDE9;
	height: 15px;
	width: 80px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	left:323px;
	bottom:415px;
	text-align:center;
	border-left: 1px solid #1644BE;
	border-right: 1px solid #1644BE;
	border-bottom: 1px solid #1644BE;
	border-top: 1px solid #1644BE;
	-webkit-border-top-right-radius: 10px;
	-moz-border-radius-topright: 10px;
	border-top-right-radius: 10px;
	-webkit-border-top-left-radius: 10px;
	-moz-border-radius-topleft: 10px;
	border-top-left-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-radius-bottomleft: 10px;
	border-bottom-left-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
	-moz-border-radius-bottomright: 10px;
	border-bottom-right-radius: 10px;
	padding-top: 2px;
	padding-right: 1px;
	padding-bottom: 1px;
	padding-left: 1px;
	clear: both;
	float: left;	
	
	}
	

	#greenburypoint {
	position:absolute;
	background-color: #FEFDE9;
	height: 30px;
	width: 70px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	left:332px;
	bottom:335px;
	text-align:center;
	border-left: 1px solid #1644BE;
	border-right: 1px solid #1644BE;
	border-bottom: 1px solid #1644BE;
	border-top: 1px solid #1644BE;
	-webkit-border-top-right-radius: 6px;
	-moz-border-radius-topright: 6px;
	border-top-right-radius: 6px;
	-webkit-border-top-left-radius: 6px;
	-moz-border-radius-topleft: 6px;
	border-top-left-radius: 6px;
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-radius-bottomleft: 10px;
	border-bottom-left-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
	-moz-border-radius-bottomright: 10px;
	border-bottom-right-radius: 10px;
	padding-top: 2px;
	padding-right: 1px;
	padding-bottom: 1px;
	padding-left: 1px;
	clear: both;
	float: left;	
	
	}
	
	#greenpedals {
	position:absolute;
	background-color: #FEFDE9;
	height: 15px;
	width: 100px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	top:214px;
	left:250px;
	text-align:center;
	border-left: 1px solid #1644BE;
	border-right: 1px solid #1644BE;
	border-bottom: 1px solid #1644BE;
	border-top: 1px solid #1644BE;
	-webkit-border-top-right-radius: 10px;
	-moz-border-radius-topright: 10px;
	border-top-right-radius: 10px;
	-webkit-border-top-left-radius: 10px;
	-moz-border-radius-topleft: 10px;
	border-top-left-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-radius-bottomleft: 10px;
	border-bottom-left-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
	-moz-border-radius-bottomright: 10px;
	border-bottom-right-radius: 10px;
	padding-top: 2px;
	padding-right: 1px;
	padding-bottom: 1px;
	padding-left: 1px;
	clear: both;
			
	}
	
	
	
#lables{position:absolute;
		left:-55px;
		top:-8px;
	
	
	
	
	
}
#pigspot{
	position: absolute;
	left: 517px;
	top:29px;
	
}




#mapspot2{
	padding:0px;
	margin:0px;
	width:450px;
	height:550px;
	position:absolute;
	left:425px;
	top:30px;
	visibility:hidden;
}



#mapspot1{
	padding:0px;
	margin:0px;
	width:450px;
	height:550px;
	position:absolute;
	left:425px;
	top:30px;
	visibility:hidden;
}





#tinyLogo{
	position:absolute;
	top:162px;
	left:205px;
}

body  {
	padding:0px;
	margin:0px;	
}
#wrapper #footer {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 14px;
	color: #FFF;
	background-color: #5F0ABC;
	text-align: right;
	text-indent: 20px;
	padding: 10px;
	height:26px;
}


#tinyLogo{
	position:absolute;
	top:132px;
	left:205px;
	
}
