
body {	
	background-color:#DAD3FE;
}


#wrapper {

	width: 1100px;
	position: relative;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}






.bkg_gray{
	width:930px;
	margin: 0 auto;
	
}

.leftBar {margin:0px;
			padding:0px;
			position:relative;
			
			width:170px;
		
			
			
}



#backstrokw {
	background-color:#DAD3FE;
	position: absolute;
	height: 68px;
	width:930px;
	left:170px;
	top: 0px;
	z-index:10;
}

#cv {
	position: absolute;
	height: 30px;
	width: 150px;
	left: 4px;
	top: 15px;
}



#subcv {
	position: absolute;
	height: 30px;
	width: 334px;
	left: 0px;
	visibility: hidden;	
}

#merch {
	position: absolute;
	height: 30px;
	width: 150px;
	left:128px;
	top: 15px;
}

#subMerch {
	position: absolute;
	height: 30px;
	width: 334px;
	left: 0px;
	visibility: hidden;
}


#rentals {
	position: absolute;
	height: 30px;
	width: 70px;
	left: 312px;
	top: 15px;
}


#subRental {
	
	position: absolute;
	height: 30px;
	width: 334px;
	left: 0px;
	visibility: hidden;
}

#repairs {
	position: absolute;
	height: 30px;
	width: 70px;
	left: 378px;
	top: 15px;
}


#subRepairs {
	position: absolute;
	height: 30px;
	left: 0px;
	visibility: hidden;
}

#quests {
	position: absolute;
	height: 30px;
	width: 150px;
	left:492px;
	top: 15px;
}


#subQuestions {
	position: absolute;
	height: 30px;
	width: 334px;
	left: 0px;
	visibility: hidden;
}



#articles {
	position: absolute;
	height: 30px;
	width: 150px;
	left: 621px;
	top: 15px;
}


#subArticles{
	position: absolute;
	height: 30px;
	visibility: hidden;
	left: 0px;
	
}



#videos {
	position: absolute;
	height: 30px;
	width: 150px;
	left: 687px;
	top: 15px;
}

#subVideos{
	position: absolute;
	height: 30px;
	visibility: hidden;
	left: 0px;
	
}

#contact {
	position: absolute;
	height: 30px;
	width: 150px;
	left: 795px;
	top: 15px;
}

#subContact{
	position: absolute;
	height: 30px;
	visibility: hidden;
	left: 0px;
	
}
/*BACKGROUND PHOTO HERE*/
#mainWindow {
	background-image:url(/images/newIndex4.png);
	position: absolute;
	height: 634px;
	width: 936px;
	top: 68px;
	background-repeat: no-repeat;
	left: 170px;
}

#productsWindow {
	background-image:url(/images/race2.png);
	position: absolute;
	/*height: 634px;*/
	width: 936px;
	top: 68px;
	background-repeat: no-repeat;
	left: 170px;
}
/*#footer {
	background-color: #5F0ABC;

	position: absolute;
	left:0px;
	width: 1100px;
	top: 702px;
	height: 40px;
}
*/

#wrapper #footer {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 14px;
	color: #FFF;
	background-color: #5F0ABC;
	text-align: right;
	text-indent: 20px;
	padding: 10px;
	height:26px;
}





#tinyLogo{
	position:absolute;
	top:162px;
	left:205px;
	
}

