@charset "utf-8";
/* CSS Document */

#tabs-1 {
	max-height: 
	284px; 
	overflow: auto;
	display: none;
}

#tabs-2 {
	max-height: 
	284px; 
	overflow: auto;
	display: none;
}

#tabs-3 {
	max-height: 
	284px; 
	overflow: auto;
	display: none;
}

#tabs-4 {
	max-height: 
	284px; 
	overflow: auto;
	display: none;
}


.flexProducts {
	display:flex;
}

.flexProducts a {
	text-align:center;
	width:150px;
	height:150px;
	overflow:auto;
}