@charset "utf-8";
/* CSS Document */

#tabs-1 {
	max-height: 
	284px; 
	overflow: auto;
	display: none;
}

#tabs-2 {
	max-height: 
	284px; 
	overflow: auto;
	display: none;
}

#tabs-3 {
	max-height: 
	284px; 
	overflow: auto;
	display: none;
}

#tabs-4 {
	max-height: 
	284px; 
	overflow: auto;
	display: none;
}

.pageTitle{
	font-size: 20px;
	background-color: #EAFFFF;
	font-weight::bold;
	border-radius:6px;
}

.productCategory {
	margin:20px;
	font-size: 16px;
	background-color: #EAFFFF;
	font-weight::bold;
	border-radius:6px;
}
	
.flexProducts {
	display:flex;
	margin:20px;
}

.flexProducts a {
	text-align:center;
	width:170px;
	height:150px;
	overflow:auto;
}

.leftColumn {
	float:left;
	width:500px;
}

.rightColumn {
	float:right;
	width:500px;
	background-color:#FFF;
	border-radius:6px;
}