.panelColumnWrapper  {
	overflow: hidden;
	padding-top: 4px;
	opacity: 1;
	display: block;
	padding-bottom: 4px;
	
	margin: 0px 0px 0px 10px;
}

.panelColumn_33rightcolumn  {
	margin-right: 0;
}
.panelColumn_50  {
	float: left;
	margin-right: 2%;
}

.panelColumn_33 {
	float: left;
	padding-right: 8px;
	padding-left: 8px;
}

.50rightcolumn {
	margin-right: 0;
}
.dot {
	padding:0;
	font: 12px Arial, Verdana;
	list-style-type: none;
	float: left;
	opacity: .96;
	margin-top: 25px;
	margin-left: 160px;
}
code {font-family:"Courier New",Courier}

#options { margin:20px auto; text-align:right; color:#9ac1c9;
	width: 405px;
}
#options a {text-decoration:none; color:#9ac1c9}
#options a:hover {color:#033}
#acc { list-style:none; margin: 0 auto 40px 245px;
	width: 445px;
	opacity: 1;
	padding-top: 0;
	padding-bottom: 0;
	padding-right: 0;
}
.acc {
	padding: 0;
	opacity: 1;
	border: 1px solid silver;
	background-repeat: repeat-x;
	font-size: 12px;
}

.acc h3 {
	margin-top: 0;
	cursor:pointer;
	width: 431px;
	border-bottom: 1px solid silver;
	margin-bottom: 0;
	list-style-type: none;
	list-style-image: none;
	padding: 3px 0 6px 15px;
	font-style: normal;
	font-size: 14px;
	font-variant: normal;
	font-weight: normal;
}

.acc li {
	background-image: url(file:///C|/Users/Geoffrey/website%20backup%20jun21/new10/artwork/h3gradient.gif);
	font-size: 12px;
	display: block;
	margin: 0;
	list-style-type: none;
	padding: 0;
	
}

#acc h3:hover {
	background-repeat: repeat-x;
	color: black;
}
#acc .acc-section {
	overflow:hidden;
	background:#fff;
	margin: 0px;
	padding: 0px;
	float: left;
	text-indent: 0px;
	text-align: left;
	width: 100%;
}
#acc .acc-content {width: 445px; border-top:none;
	padding: 0;
	background-color: #fff;
}
.thumb a {
	color: #606060;
}

.thumb a:hover {
	color: navy;
}

#nested {
	width: 445px;
	list-style:none;
	color:#FFF;
	margin-bottom:15px
}
#nested h3 {
	width: 445px;
	font-weight: bold;
	margin-top: 0;
	cursor:pointer;
	border-style: none;
	border-width: 0;
	background-repeat: repeat-x;
	background-color: #069;
}
#nested h3:hover {background: orange repeat-x}

h3.brand {
	text-indent: 5px;
	background-color: #bdfeae;
	border-top-style: none;
	border-top-width: 1px;
	border-style: none;
	border-color: #f0ff81;
	margin-top: 0;
	font: 12px helvetica, arial;
	display: block;
	list-style-image: none;
	padding-top: 5px;
}

#nested .acc-section {
	background:#fff;
	list-style-position:-20px:
}
#nested .acc-content {
	width:500px;
	border: 1px none #9ac1c9;
	border-top:none;
	background:#fff
}
a {
	color: black;
}

.thumb {
	float: left;
	padding-top: 5px;
	border: 1px double white;
}

.thumbtext {
	padding-top: 2px;
	text-align: center;
	padding-right: 10px;
}
.thumb:hover {
	color: #67c665;
	border: 1px dashed navy;
}
.thumb a img {
	border: 1px solid white;
}

.brand:hover {
	text-decoration: underline;
}

#accordion .ui-accordion-header {
	margin-top:5px;
	padding:0px;
	background:none;
	background-color:#E9EFFE;
	opacity: 0.95;
	border-top-width: 2px;
	border-right-width: 2px;
	border-bottom-width: 2px;
	border-left-width: 2px;
	border-top-color: #30F;
	border-right-color: #30F;
	border-bottom-color: #30F;
	border-left-color: #30F;
}