/*
      Created by Keith Donegan of Code-Sucks.com
	  
	  E-Mail: Keithdonegan@gmail.com
	  
	  You can do whatever you want with these layouts,
	  but it would be greatly appreciated if you gave a link
	  back to http://www.code-sucks.com
	  
*/

* { padding: 0; margin: 0; }

body {
	font-family: Verdana, Helvetica, Arial, sans-serif;
	font-size: 12px;
	color: #330067;
}
#logo {
	position: absolute;
	left: 25px;
	top: 0px;
}
#wrapper {
	width: 1100px;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
	position: relative;
}
#faux {
	margin-bottom: 0px;
	overflow: auto; /* Paul O Brien Fix for IE www.pmob.co.uk */
	width: 100%;
	background-image: url(file:///C|/Users/Geoff/product folder/images/bkg_content.jpg);
	background-repeat: repeat-y;
}
/*	width: 1018px;
*/#header {
	color: #333;
	padding-top:15px;
	height:49px;
	margin: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 180px;
	z-index:3
}
#leftcolumn {
	display: block;
	margin: 0px;
	padding: 0px;
	width: 170px;
	float: left;
}
#rightcolumn {
	float: right;
	color: #333;
	margin: 0px;
	padding: 0px;
	width: 400px;
	display: inline;
	position: relative;
	padding-left:50px;
	z-index:1
}
#footer {
	width: 968px;
	clear: both;
	color: #CCC;
	margin: 0px;
;
	background-repeat: repeat-x;
	height: 25px;
	text-align: right;
	font-size: 11px;
	font-weight: normal;
	padding-top: 5px;
	padding-right: 50px;
	padding-bottom: 0px;
	padding-left: 0px;
}
.bkg_wineglass {
	background-image:url(file:///C|/Users/Geoffrey/website%20backup%20jun21/new10/new/css/.../images/bkg_wineglass.gif);
	background-repeat:repeat-x;
}
.bkg_dkgreen {
	background-image: url(file:///C|/Users/Geoffrey/website%20backup%20jun21/new10/new/images/bkg_dkgreen.jpg);
	background-repeat: repeat-x;
	background-color: #330067;
}
.bkg_gray {
	background-image: url(file:///C|/Users/Geoffrey/website%20backup%20jun21/new10/new/images/bkg_gray.jpg);
	background-repeat: repeat-x;
	background-color: #330067;
}
.bkg_orange{
	background-image: url(file:///C|/Users/Geoffrey/website%20backup%20jun21/new10/new/images/bkg_orange.jpg);
	background-repeat: repeat-x;
	background-color: #330067;
}
.bkg_copper{
	background-image: url(file:///C|/Users/Geoffrey/website%20backup%20jun21/new10/new/images/bkg_copper.jpg);
	background-repeat: repeat-x;
	background-color: #330067;
}
.bkg_aqua{
	background-image: url(file:///C|/Users/Geoffrey/website%20backup%20jun21/new10/new/images/bkg_aqua.jpg);
	background-repeat: repeat-x;
	background-color: #330067;
}
.bkg_blue{
	background-image: url(file:///C|/Users/Geoffrey/website%20backup%20jun21/new10/new/images/bkg_blue.jpg);
	background-repeat: repeat-x;
	background-color: #330067;
}
.bkg_red{
	background-image: url(file:///C|/Users/Geoffrey/website%20backup%20jun21/new10/new/images/bkg_red.jpg);
	background-repeat: repeat-x;
	background-color: #330067;
}
.clear { clear: both; background: none; }
a img {
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	text-align: center;
}
.homeContent {
	background-image: url(file:///C|/Users/Geoffrey/website%20backup%20jun21/new10/new/images/home_bkg.jpg);
	background-repeat: no-repeat;
	height: 578px;
	width: 848px; 
	display: block;
}
.faqContent {
	background-image: url(file:///C|/Users/Geoffrey/website%20backup%20jun21/new10/new/images/faq_bkg.jpg);
	background-repeat: repeat;
	/*
height: 578px; */
background-color: #666;
	width: 848px;
	display: block;
}
.contactContent {
	background-image: url(file:///C|/Users/Geoffrey/website%20backup%20jun21/new10/new/images/contact_bkg.jpg);
	background-repeat: no-repeat;
	height: 578px; 
	width: 848px;
	display: block;
}
.videoContent {
	background-image: url(file:///C|/Users/Geoffrey/website%20backup%20jun21/new10/new/images/video_bkg.jpg);
	background-repeat: no-repeat;
	height: 578px; 
	width: 848px;
	display: block;
}
.affiliationsContent {
	background-image: url(file:///C|/Users/Geoffrey/website%20backup%20jun21/new10/new/images/affiliations_bkg.jpg);
	background-repeat: repeat;
	width: 848px;
	display: block;
	color:#fff !important;
	height: 578px;
}
.affiliationsContent a {
    color:#fff;
}

.pressContent {
	background-image: url(file:///C|/Users/Geoffrey/website%20backup%20jun21/new10/new/images/press_bkg.jpg);
	background-repeat: no-repeat;
	height: 578px; 
	width: 848px;
	display: block;
}
.eventContent {
	background-image: url(file:///C|/Users/Geoffrey/website%20backup%20jun21/new10/new/images/event_bkg.jpg);
	background-repeat: no-repeat;
	height: 878px;
	width: 848px;
	display: block;
}
.productsContent {
	background-image: url(file:///C|/Users/Geoffrey/website%20backup%20jun21/new10/new/images/products_bkg.jpg);
	background-repeat: repeat;
	width: 848px;
	display: block;
	background-color: #330067;
	height: 578px;
}
/* css for individual product pages */
.productsContent1{
	background-image: url(file:///C|/Users/Geoffrey/website%20backup%20jun21/new10/new/images/race.jpg) ;
	background-repeat: no-repeat;
	height: 768px; 
	width: 848px;
	display: block;
	background-color: #330067;
}

.shopContent {
	background-image: url(file:///C|/Users/Geoffrey/website%20backup%20jun21/new10/new/images/shop_bkg.jpg);
	background-repeat: no-repeat;
	width: 848px;
	display: block;
	background-color: #150202;
	height: 578px;
}

.rentalContent {
	background-image: url(file:///C|/Users/Geoffrey/website%20backup%20jun21/new10/new/images/rental_bkg.jpg);
	background-repeat: no-repeat;
	height: 578px; 
	width: 848px;
	display: block;
}

.repairsContent {
	background-image: url(file:///C|/Users/Geoffrey/website%20backup%20jun21/new10/new/images/repairs_bkg.jpg);
	background-repeat: no-repeat;
	height: 578px; 
	width: 848px;
	display: block;
}

#home_words {
	font-size: 14px;
	line-height: 24px;
	font-weight: bold;
	color: #FFF;
	text-align: center;
	padding-right: 65px;
	padding-left: 420px;
	padding-top: 70px;
}
#home_words p {
	padding-bottom: 15px;
}

#Homepage_boxes ul{
	margin: 0px;
	list-style-type: none;
	padding-top: 75px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 439px;
}

#Homepage_boxes ul li p {
	padding-top: 2px;
	text-align: center;
	font-weight: bold;
	margin: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	font-size: 11px;
	line-height: 12px;
}

#Homepage_boxes ul li {
	list-style-type: none;
	display: block;
	width: 76px;
	float: left;
	padding-right: 37px;
	padding-top: 0px;
	margin: 0px;
}

#Homepage_boxes ul li p a {
	color: #333;
	text-decoration: none;
}

#Homepage_boxes ul li p a:hover {
	color: #666;
}



#rightcolumn h1 {
	font-size: 22px;
	font-weight: bold;
	color: #FFF;
	margin: 0px;
	padding-top: 30px;
	padding-bottom:10px
}

#left_nav {
	font-size: 14px;
	font-weight: bold;
	color: #FFF;
	text-align: right;
	float: left;
	width: 220px;
	padding-top: 20px;
	line-height: 32px;
}

#right_side {
	background-color: #E0E0E0;
	float: right;
	width: 535px;
	height: 520px; 
	display: block;
	color: #333;
	margin-right: 50px;
}

#other_products {
float:right; 
margin-right:30px; 
background-color:#FFF; 
width: 160px
}

#other_products img { 
padding:10px; 
margin-left:10px;
margin-top:10px

}
#other_products a { 
text-decoration:none;
text-align:center

}

#other_products p { 
text-decoration:none;
text-align:center

}.bkg_blue #wrapper #faux #rightcolumn div .panes div ul {
	list-style:disc; list-style-position:inside; text-indent:10px; padding:10px
}

.bkg_blue #wrapper #faux #rightcolumn div .panes div ul li {
	padding-left: 1em;
			text-indent: -1em;

}

.bkg_blue #wrapper #faux #rightcolumn div .panes div  {
	padding-left: 1em;
	padding-bottom:1.2em;
	padding-top:1em

}
.bkg_blue #faux #rightcolumn .demo #accordion div .acc-section .acc-content ul {
	list-style-type: none;
}
.bkg_blue #faux #rightcolumn .demo #accordion h3 {
	margin: 0px;
	padding: 0px;
}
.brand_page_product_info {
	padding-right: 10px;
	border-top-width: 1px;
	border-top-style: inset;
	border-top-color: #999;
	margin: 10px;
	padding-top: 10px;
}
.bkg_blue #wrapper #faux #rightcolumn div .brand_page_product_info img {
	float: left;
	padding: 10px;
}
#header {
    z-index:2;
}
#content {
    z-index:1;
}