.content {
	width: 950px;
	height: auto;
	float: left;
	clear: none;
}

/* My Comment */
body {
	font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	font-size: 12px;
	padding: 0;
	color: #000;
	background-image: url(../artwork/graybg.png);
	background-repeat: repeat-x;
	margin: 0px;
	background-color: #FFF;
}
.mission {
	color: white;
	float: right;
	position: relative;
	z-index: 0;
	overflow: hidden;
	height: 600px;
	background-color: #CCC;
	opacity: .66;
	font-family: Arial, Helvetica, sans-serif;
	width: 415px;
}

.missiontext {
	position: relative;
	z-index: 11;
	opacity: 1;
	width: 200px;
	left: 585px;
	font-size: 20px;
	text-align: left;
	top: 30px;
	float: left;
}

#wrapper {
	width: 950px;
	margin: 0 auto;
	background-repeat: no-repeat;
	padding-top: 0px;
	opacity: 1;
	height: 800px;
}
.banner {
	color: #CCC;
	background-color: #000;
	padding: 20px;
}
.column-content {
	margin-left: 165px;
	padding-top: 45px;
	padding-bottom: 8px;
	width: 625px;
}
.footerborder {
	height: 2px;
}
.rightcolumn .column-content {
	font-size: 0.8em;
	line-height: 1.5em;
	color: #999;
}
.column-content h1 {
	font-size: 24px;
	margin: 0px;
	line-height: normal;
}
.footer {
	
	color: white;
	text-align: left;
	opacity: .65;
	text-decoration: none;
	padding-bottom: 5px;
	background-color: #5a5082;
	font-size: 12px;
	float: left;
	width: 750px;
	position: relative;
	padding-left: 200px;
}
.bottominfo {
	border: 1px solid #333;
	background-color: #D4D4D4;
	font-size: 0.8em;
	text-align: right;
	padding-top: 4px;
}
a {
	text-decoration: none;
	color: #444;
	border-style: none;
	margin: 0px;
}

a:hover {
	text-decoration: none;
	color: silver;
	border-style: none;
}

.current {
	color: #f2fef0;
}

#showcase {
	color: #c8c8c8;
	width: 220px;
	margin-top: 65px;
	margin-left: 105px;
	float: left;
	margin-right: 34px;
}

h1 {
	/*color: #a3ca7c;*/
	font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	text-decoration: none;
	font-weight: normal;
	font-style: normal;
	text-align:left
}
#slideshow {
	height: 242px;
	width: 333px;
	float: right;
	margin-right: 75px;
	margin-top: 130px;
}
#showcase2 {
	color: #c8c8c8;
	width: 220px;
	margin-top: 15px;
	margin-left: 135px;
	float: left;
	margin-right: 34px;
	margin-bottom: 49px;
}
.footer2 {
	clear: both;
	font-size: 0.7em;
	color: #999 !important;
	text-align: left;
	opacity: .65;
	text-decoration: none;
	padding-bottom: 5px;
	background-color: #101D3D;
}
#slideshow2 {
	height: 242px;
	width: 333px;
	float: right;
	margin-right: 75px;
	margin-top: 150px;
}
p {
	text-align: left;
	font: 12px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	margin-bottom: 5px;
	font-size: 1em;
}

.dropdown1 {
}

.osd {
	width: 135px;
	height: 35px;
	float: left;
	position: relative;
	right: 600px;
}
#home {
}
h3 {
	font-size: 14px;
	font-family: Arial, "Helvetica Neue", Helvetica;
}
.content li {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
#faq li {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	margin-bottom: 5px;
}
#footertext {
	border-top: 2px solid gray;
	padding-top: 6px;
	width: 520px;
	padding-left: 50px;
}

#footertext a {
	color: #93a79d;
}

#footertext a:hover {
	color: white;
}
img {
	border-width: 0px;
}
.ifyou {
	padding: 5px;
	float: right;
	width: 325px;
	position: relative;
	top: 545px;
	right: 44px;
}
