.thumb {
	float: left;
	width: 155px;
	margin-right: 40px;
	height: 147px;
	border-width: 1px;
	border-style: solid;
	background-color: #F6D3C3;
}
.row {
	height: 155px;
	width: 790px;
}
.topthumb {
	padding-left: 8px;
	margin-bottom: 3px;
	background-repeat: repeat-x;
	padding-top: 3px;
}
.pic {
	overflow: hidden;
	margin-bottom: 2px;
	border-width: 1px;
	border-style: solid none;
}
.bottomthumb {
	padding-left: 4px;
	padding-top: 2px;
	text-align: center;
}
body {
	font-size: 12px;
}
h2 {
	font-size: 14px;
	margin: 0px;
	padding: 0px;
}
